[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=ashish
Group=ashish
WorkingDirectory=/home/ashish/app/src/
Environment="PATH=/home/ashish/app/venv/bin"
EnvironmentFile=/home/ashish/.env
ExecStart=/home/ashish/app/venv/bin/gunicorn -w 2 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target